#btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr), 2fr 1fr 1fr;
  /* grid-template-areas: "auto"; */
  height: 75%;
  background-color: white;
}

.btn-div {
  background-color: lightgray;
}

#btn-zero {
  grid-column: span 2;
}

button {
  /* display: inline-block; */
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100%;
  border: solid lightslategray 1px;
  border-radius: 2px;
}

.btn-number {
  background-color: #797979;
  font-size: 1.2rem;
}

.btn-operator {
  background-color: rgb(177, 211, 85);
  font-size: 1.4rem;
}

.btn-other {
  background-color: mistyrose;
  font-size: 1.4rem;
}

#display-calc {
  display: flex;
  padding-right: 1rem;
  height: 60%;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
  border-top: gray dotted 1px;
}

#display-container {
  display: block;
  height: 25%;
  background-color: lightgray;
  padding: 3px 4px;
}

#display-styled-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: rgba(221, 246, 77, 0.376);
}

#display-ops {
  padding-right: 1rem;
  height: 40%;
  border: lightsalmon black 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#main-container {
  background: rgb(255, 255, 144);
  box-sizing: border-box;
  width: 320px;
  height: 520px;
  margin: 4rem auto auto auto;
}
